<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <h1>Attack Surface Meter Report</h1>
    <div>
        <label>Source: </label><span>{{ directory }}</span>
    </div>
    <h2>Functions ({{ nodes_count }})</h2>
    <div>
        {% if nodes_count > 0 %}<table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>File</th>
                </tr>
            </thead>
            <tbody>
                {% for i in nodes %}<tr>
                    <td>{{ i.function_name }}</td>
                    <td>{{ i.function_signature }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>{% else %}No functions to show.{% endif %}
    </div>
    <h2>Calls ({{ edges_count }})</h2>
    <div>
        {% if edges_count > 0 %}<table>
            <thead>
                <tr>
                    <th>Caller</th>
                    <th>Callee</th>
                </tr>
            </thead>
            <tbody>
                {% for i in edges %}<tr>
                    <td>{{ i.from }}</td>
                    <td>{{ i.to }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>{% else %}No calls to show.{% endif %}
    </div>
    <h2>Entry Points ({{ entry_points_count }})</h2>
    <div>
        {% if entry_points_count > 0 %}<table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>File</th>
                </tr>
            </thead>
            <tbody>
                {% for i in entry_points %}<tr>
                    <td>{{ i.function_name }}</td>
                    <td>{{ i.function_signature }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>{% else %}No entry points to show.{% endif %}
    </div>
    <h2>Exit Points ({{ exit_points_count }})</h2>
    <div>
        {% if exit_points_count > 0 %}<table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>File</th>
                </tr>
            </thead>
            <tbody>
                {% for i in exit_points %}<tr>
                    <td>{{ i.function_name }}</td>
                    <td>{{ i.function_signature }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>{% else %}No exit points to show.{% endif %}
    </div>
    <h2>Dangerous Functions ({{ dangerous_functions_count }})</h2>
    <div>
        {% if dangerous_functions_count > 0 %}<table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>File</th>
                </tr>
            </thead>
            <tbody>
                {% for i in dangerous_functions %}<tr>
                    <td>{{ i.function_name }}</td>
                    <td>{{ i.function_signature }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>{% else %}No dangerous functions to show.{% endif %}
    </div>
</body>
</html>
