<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <h1>Attack Surface</h1>
    <label>Directory: </label><span>{{ directory }}</span>

    <h2>Calls</h2>
    <label>Count: </label><span>{{ nodes_count }}</span>
    <ul>
        {% for call in nodes %}
            <li>
                <h3>{{ call.function_name }}</h3>

                <label>Closeness: </label><span>{{ call.closeness }}</span>
                <label>Betweenness: </label><span>{{ call.betweenness }}</span>
                <label>Degree Centrality: </label><span>{{ call.degree_centrality }}</span>
                <label>In Degree Centrality: </label><span>{{ call.in_degree_centrality }}</span>
                <label>Out Degree Centrality: </label><span>{{ call.out_degree_centrality }}</span>
                <label>Degree: </label><span>{{ call.degree }}</span>
                <label>In Degree: </label><span>{{ call.in_degree }}</span>
                <label>Out Degree: </label><span>{{ call.out_degree }}</span>
                <label>Descendant Entry Points Ratio: </label><span>{{ call.descendant_entry_points_ratio }}</span>
                <label>Descendant Exit Points Ratio: </label><span>{{ call.descendant_exit_points_ratio }}</span>
                <label>Ancestor Entry Points Ratio: </label><span>{{ call.ancestor_entry_points_ratio }}</span>
                <label>Ancestor Exit Points Ratio: </label><span>{{ call.ancestor_exit_points_ratio }}</span>

                {% if call.descendant_entry_points %}
                    <h2>Descendant Entry Points</h2>
                    <label>Count: </label><span>{{ call.descendant_entry_points_count }}</span>
                    <ul>
                    {% for entry_point in call.descendant_entry_points %}
                        <li>
                            <span>{{ entry_point.function_name }}</span>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}

                {% if call.descendant_exit_points %}
                    <h2>Descendant Exit Points</h2>
                    <label>Count: </label><span>{{ call.descendant_exit_points_count }}</span>
                    <ul>
                    {% for exit_point in call.descendant_exit_points %}
                        <li>
                            <span>{{ exit_point.function_name }}</span>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}

                {% if ancestor_entry_points %}
                    <h2>Ancestor Entry Points</h2>
                    <label>Count: </label><span>{{ call.ancestor_entry_points_count }}</span>
                    <ul>
                    {% for entry_point in call.ancestor_entry_points %}
                        <li>
                            <span>{{ entry_point.function_name }}</span>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}

                {% if call.ancestor_exit_points %}
                    <h2>Ancestor Exit Points</h2>
                    <label>Count: </label><span>{{ call.ancestor_exit_points_count }}</span>
                    <ul>
                    {% for exit_point in call.ancestor_exit_points %}
                        <li>
                            <span>{{ exit_point.function_name }}</span>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}

            </li>
        {% endfor %}
    </ul>

    <h2>Edges</h2>
    <label>Count: </label><span>{{ edges_count }}</span>
    <ul>
        {% for edge in edges %}
            <li>
                <label>From: </label><span>{{ edge.from }}</span>
                <label>To: </label><span>{{ edge.to }}</span>
            </li>
        {% endfor %}
    </ul>

    <h2>Entry Points</h2>
    <label>Count: </label><span>{{ entry_points_count }}</span>
    <ul>
        {% for entry_point in entry_points %}
            <li>
                <span>{{ entry_point.function_name }}</span>
            </li>
        {% endfor %}
    </ul>

    <h2>Exit Points</h2>
    <label>Count: </label><span>{{ exit_points_count }}</span>
    <ul>
        {% for exit_point in exit_points %}
            <li>
                <span>{{ exit_point.function_name }}</span>
            </li>
        {% endfor %}
    </ul>

    <h2>Clustering</h2>
    <ul>
        <li>
            <label>Entry Points Clustering: </label><span>{{ entry_points_clustering }}</span>
        </li>
        <li>
            <label>Exit Points Clustering: </label><span>{{ exit_points_clustering }}</span>
        </li>
    </ul>

    <h2>Execution Paths</h2>
    <label>Count: </label><span>{{ execution_paths_count }}</span>
    <label>Average: </label><span>{{ execution_paths_average }}</span>
    <label>Median: </label><span>{{ execution_paths_median }}</span>
    <ul>
        {% for execution_path in execution_paths %}
            <li>
                <label>Length: </label><span>{{ execution_path.length }}</span>
                <ul>
                    {% for path_call in execution_path.path %}
                        <li>
                            <span>{{ path_call.function_name }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

</body>
</html>